.online-container {
    position: relative;
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
    
}

.left-online-container {
    position: relative;
    
}

.online-image-container {
   position: relative;
    display: flex;
    padding: 5rem;
    padding-bottom: 2rem;
    background-image: url(../../assets/phone.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 2rem;
   
}

.online-image-text-container {
    
    color: var(--color-bg);
    margin-bottom: 5rem;
    
    
}


.online-months-container {
    background-color: var(--color-white);
    display: flex;
    display: grid;
    grid-template-columns: 66% 33%;
    padding: 2rem;
   
    padding-bottom: 5rem;
    color: var(--color-black);
}

.months-image {
    left: 3rem;
    top: 2rem;
    width: 75%;
    position: relative;
    display: flex;
}

.right-online-container {
    background-color: var( --color-white);
    padding: 2rem;
    padding-top: 22rem;
    background-image: url(../../assets/mreža.svg);
    background-size: 100rem; 
    background-position: absolute;
    background-position-x: 5rem;
    background-position-y: -45rem;
    background-repeat: no-repeat;
    color: var(--color-black);
    display: flex;
    position:relative;
}

.right-online-container-text {
    width: 55%;
}

/* ======== MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width:  1005px) {
    .online-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        
    }
    .left-online-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        
    }

    .online-image-container {
        width: 90%;
        margin-bottom: 0rem;
    }

    .online-image-text-container {
        font-size: medium;
        color: var(--color-bg);
        margin-bottom: 5rem;
        
        
    }

    .online-months-container {
        margin-bottom: 2rem;
    }

    .right-online-container {
        background-color: var( --color-white);
        padding: 2rem;
        padding-top: 22rem;
        background-image: url(../../assets/mreža.svg);
        background-size: 100rem; 
        background-position: absolute;
        background-position-x: 5rem;
        background-position-y: -45rem;
        background-repeat: no-repeat;
        color: var(--color-black);
        display: flex;
        position:relative;
    }
    
}

@media screen and (max-width:  500px) {
    .online-image-text-container {
        font-size: smaller;
        height: auto;
    }

    .right-online-container-text {
        width: 100%;
    }
}