

.new-container {    
    position: relative;
    display: grid;
    width: 85%;
    grid-template-columns: 41% 40%;
    justify-content: center;
    gap: 7%;
    top: -5rem;
}



.red-container {
    display: flex;
    background-color: var(--color-primary);
    align-items: center;
    background-image: url(../../assets/nemasta.svg);
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position: center;
    
}

.neo-tariff {
    margin-top: 1rem;
    padding-bottom: 12rem;
}

.neo-tariff > h1{
    color: var(--color-black);
    font-size: 4.5rem;
    font-weight: bolder;
}


nav {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}

nav > a {
    color: var(--color-bg-variant);
}
nav > a:hover {
    color: var(--color-black);
}

/* ======== MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {

    .new-container {    
        display: flex;
    background-color: var(--color-primary);
    align-items: center;
    background-image: url(../../assets/nemasta.svg);
    background-repeat: no-repeat;
    background-size: 15rem;
    background-position: 9rem 1rem ;
    }

    .red-container {

        display: none;
        
    }

    .neo-tariff {
        position: relative;
        padding: 1rem;
        margin-top: 15rem;
    }

    .neo-tariff > h1{
        color: var(--color-bg);
        font-size: 3rem;
        font-weight: lighter;
    }


  }
  
  /* ======== MEDIA QUERIES (SMALL DEVICES) ================= */
  @media screen and (max-width: 600px) {
    
    .new-container {    
        display: flex;
    background-color: var(--color-primary);
    align-items: center;
    background-image: url(../../assets/nemasta.svg);
    background-repeat: no-repeat;
    background-size: 13rem;
    background-position: 7rem 1rem ;
    }

    .red-container {

        display: none;
        
    }

    .neo-tariff {
        position: relative;
        padding: 1rem;
        margin-top: 15rem;
    }

    .neo-tariff > h1{
        color: var(--color-bg);
        font-size: 3rem;
        font-weight: lighter;
    }


  
  }